# Print

In [ ]:
# python 3.9 global select jj
print("Hello words")

Hello words

In [8]:
print("my name is sagar",4444,899.877,True)

my name is sagar 4444 899.877 True

In [9]:
print("my name is sagar",4444,899.877,True,sep="/")

my name is sagar/4444/899.877/True

In [10]:
print( " bharat mata ki jay",234,4554, sep = "?")

 bharat mata ki jay?234?4554

In [11]:
print("my name is sagar",4444,899.877,True,sep="+")  #b, in connect both connect +

my name is sagar+4444+899.877+True

In [12]:
print("my name is sagar",4444,899.877,True, end=". ")  # both sentence in joind end =new line add
print("sachin","dhoni","kohali")

my name is sagar 4444 899.877 True. sachin dhoni kohali

In [13]:
print("my name is sagar", 4444,899.877,True, end=" +++ ")  #end = new line add
print("sachin","dhoni","kohali")

my name is sagar 4444 899.877 True +++ sachin dhoni kohali

In [14]:
# new line sentence satrt
"""
\n
\r # new full sentence
\\
\f
\v
"""

print(" 1 the boy is\n  playing cricket")
print("21 the boy is\r playing cricket")
print("21 the boy is\f playing cricket")

 1 the boy is
  playing cricket
 playing cricket
21 the boy is playing cricket

# Data Type

# basic type = ( integer, float,complex, boolen and string)
# container type =  ( list, tupels, set, dictionary )
# user defined = class

In [15]:
# integer
print(1647634638627,326767846584375834758,35848438)

1647634638627 326767846584375834758 35848438

In [16]:
#float
print(3232.232,  1.000, 0.23232)

3232.232 1.0 0.23232

In [17]:
# complex
print(5+5j)

(5+5j)

In [18]:
# boolen
print(True)
print(False)

True
False

In [19]:
var = "ram  \n"
print(var * 4)
print(type(var))

ram
ram
ram
ram

<class 'str'>

In [21]:
# string
print("nashik")
print('pune', end="   ")  # both sentence in connect . space
print("4343543","45454.76868","4+2j","True", sep = "#")

nashik
pune   4343543#45454.76868#4+2j#True

In [25]:
# list [] means array
[11,22,33,44,5.999,"India"]

[11, 22, 33, 44, 5.999, 'India']

In [ ]:
# tupels
(22,45,666,32.1111,"jay shree ram")

(22, 45, 666, 32.1111, 'jay shree ram')

In [ ]:
# set
{22,989,"mahabharat", "ramayan"}

{22, 989, 'mahabharat', 'ramayan'}

In [ ]:
# dictionary
{"sachin":10, "kohali":18, "rohit":45, "dhoni":7, "gender":"male"}

{'sachin': 10, 'kohali': 18, 'rohit': 45, 'dhoni': 7, 'gender': 'male'}

# comments

In [ ]:
# comments
# basic code

# Varibles

In [ ]:
# varibles mean temprary store data
# container fucture use
# no vaible decilaration same feactures use PHP
# not data type denoted means dynamic type but other language in data type denoted means static type
# one varible multiple data type store means dynamic binding

In [ ]:
names = "sachin","dhoni", "kohali", "rohit",234,23.009,55-55j
print(names)

('sachin', 'dhoni', 'kohali', 'rohit', 234, 23.009, (55-55j))

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [25]:
name = "sagar", "abhang"
a,b  = name 
print(a)
print(b)

sagar
abhang

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)  # concadination

Python is awesome

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = "ram"
def cdsw():
    x = "pappu"
    print("raj is great compare "   + x)
cdsw()
print("rahul is great compare "  + x)

raj is great compare pappu
rahul is great complare ram

In [ ]:
def myfunc():
    global x # golab x local varible
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [ ]:
# problem
import pandas as pd
list2= [[1,2,3],["ram","seeta", "laxman"], [100,95,80]]
list_1 = []
for abb in list2:
    for char in abb:
        list_1.append(char)

print(list_1)

[1, 2, 3, 'ram', 'seeta', 'laxman', 100, 95, 80]

In [28]:

aa = [[1,2,3],["ram","seeta", "laxman"], [100,95,80]]
ff = []
for i in aa:
    for j in i:
        ff.append (j)
print(ff)

[1, 2, 3, 'ram', 'seeta', 'laxman', 100, 95, 80]

In [ ]:
import pandas as pd
list1 = [[1,2,3],["ram","seeta", "laxman"], [100,95,80]]
list2 = []

for i in list1:
  for j in i:
    list2.append(j)
print(list2)

[1, 2, 3, 'ram', 'seeta', 'laxman', 100, 95, 80]

In [ ]:
list2= [[1,2,3],["ram","seeta", "laxman"], [100,95,80]]
list_1 = []
for abb in list2:
    print(abb)
    list_1= abb + list_1
l = list_1.reverse()
print(l)

[1, 2, 3]
['ram', 'seeta', 'laxman']
[100, 95, 80]
None

In [ ]:
aa=[11,44,77,890,543,76,45]
m=max(aa)
i=1
while i<=3:
    i+=1

    aa.remove(m)
    m=max(aa)

print(m)

76

In [34]:
aa=[11,44,77,890,543,76,45]
bb = sorted(aa, reverse=True)
print(bb)
print(bb[3])

[890, 543, 77, 76, 45, 44, 11]
76

In [31]:
aa=[11,44,77,890,543,76,45]
bb = sorted(aa,reverse=True)
bb[0]

890

In [ ]:
aa=[11,44,77,890,543,76,45]

vv = sorted(aa, reverse=True)
bb = vv[2]
bb

77

In [ ]:
aa = [[1,2,3,44],["ram","sham"],["my name is khan"]]
bb = []
for hh in aa:
    for cc in hh:
        bb.append(cc)
print(bb)

[1, 2, 3, 44, 'ram', 'sham', 'my name is khan']

In [ ]:
aa = [[1,2,3,44],["ram","sham"],["my name is khan"]]
bb = []

for i in aa:
    for cc in i:
        bb.append(cc)
print(bb)

[1, 2, 3, 44, 'ram', 'sham', 'my name is khan']

In [ ]:
aa = [[1,2,3,44],["ram","sham"],["my name is khan"]]
bb= []
for i in aa:
  for j in i:
    bb.append(j)
print(bb)

[1, 2, 3, 44, 'ram', 'sham', 'my name is khan']

In [44]:
aa = [11,22,33,33,66,66,87,87,44,88]
bb = []

for i in aa:
    if i not in bb:
       bb.append(i)
print(bb)

[11, 22, 33, 66, 87, 44, 88]

In [ ]:
# remove dublicate
aa = [11,22,33,33,66,66,87,87,44,88]
cc = set(aa)

vv = list(cc)
vv

[33, 66, 11, 44, 22, 87, 88]

In [ ]:
hanuman_mantra = " om namo hanumate, rudraavtray, vishav_rupay, amit vikrmay, prakat_parakramay, maha_balay, sury_koti_samprabhay, ram_dutay_swaha|"
print(hanuman_mantra)

 om namo hanumate, rudraavtray, vishav_rupay, amit vikrmay, prakat_parakramay, maha_balay, sury_koti_samprabhay, ram_dutay_swaha|

In [ ]:
a=100; b=200; c=300
print(a)
print(b)
print(c)

100
200
300

In [ ]:
a,b,c = 1000, 2000, 3000
print(a)
print(b)
print(c)

1000
2000
3000

In [ ]:
# first call add integer
x =100
y= 1.34
y = 200
z = x + y
print(z)

300

In [ ]:
a,b,c = 1000, 2000, 3000
print(b,a,c)

2000 1000 3000

String


# **String**

In [ ]:
# strin in min less character word
string = "programming keywords is a word that is revserved by a program because the word has a special mean"
str = string.split(" ")  # each word convert in string.
print(str)

['programming', 'keywords', 'is', 'a', 'word', 'that', 'is', 'revserved', 'by', 'a', 'program', 'because', 'the', 'word', 'has', 'a', 'special', 'mean']

In [13]:
str = "my name is sagar"
print(str[6])
print(str[11:16])

e
sagar

In [ ]:
for i in range(len(str)):  #range(start, stop, step)
    if len(str[i]) <=5:
        print(str[i])

is
a
word
that
is
by
a
the
word
has
a
mean

In [ ]:
for i in range (len(str)):
   if len(str[i]) <=5:
    print(str[i])

is
a
word
that
is
by
a
the
word
has
a
mean

In [ ]:
# <=5 True othe false
list = []
for i in range (len(str)):
    list.append(len(str[i]) <= 5)
print(list)

[False, False, True, True, True, True, True, False, True, True, False, False, True, True, True, True, False, True]

In [ ]:
list = []
for i in range (len(str)):
  list.append (len(str[i]) <= 5)
print(list)

[False, False, True, True, True, True, True, False, True, True, False, False, True, True, True, True, False, True]

In [2]:

df = "my name is khan 22,55 pune bikkad msi"

integer_values = ""
for char in df:
    if char.isdigit():
        integer_values += char

print(" ".join([integer_values]))

2255

In [ ]:

import re

df = "my name is khan 22,55 pune bikkad msi"
numbers = re.findall(r'\d+', df)  # Extracts full numbers
print(" ".join(numbers))

22 55

In [ ]:
df = "my name is khan 22,55 pune bikkad msi"

values = ""
result = []

for char in df:
    if char.isdigit():
        values += char
    else:
        if values:
            result.append(values)
            values = ""

if values:
    result.append(values)  # Append the last collected number if any

print(" ".join(result))

22 55

# identifiers & keywords

# keywords =  use lower case upper case not use interchangebly.
# identifiers = a python identifier is aname used  to identify a varible,                        function,class,module or other object.
# python is sensitive programming language

In [ ]:
# programming keywords is a word that is revserved by a program because the word has a special meaning , keywords can be
# commonds or parameters. every programming language has a set of keywords that cannot  be used as varible names.

In [ ]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# identifierrs
# rules and setting identifiers
# can only  start with an alphabet or
# followed by 0 or more better_and digits
# keywords cannot  be used  as an identifier

In [ ]:
__= "raj"
print(__)

raj

# input function
# taking user_input & type conversion

In [ ]:
#  direct input is inistionally string input type
input()

67

'67'

In [ ]:
aa = input("enter the character  = ")

enter the character  = sagar abhang

In [ ]:
type(aa)

str

In [ ]:
bb = float(input("enter the number"))

enter the number33.43543543

In [ ]:
type(bb)

float

In [ ]:
input(prompt=" text first name   ")

 text first name   sagar

'sagar'

In [ ]:
radius = float(input("enter the radius"))
circule = 3.14*radius*radius
print(circule)

enter the radius4
50.24

In [ ]:
# enter sep chracter output show time
x =input("enter number ")
y =input("enter number ")

z = x+y
print(x,y,sep=" +++ ")

enter number  797
enter number  4545

797 +++ 4545

In [ ]:
x =input("enter number")
y =input("enter number")

print(end= "  ")# increese distsnce both in character  end = \n new line start
z = x+y
print(z)
print(x,y,sep="right")

enter number11
enter number22
  1122
11right22

In [ ]:
# input databse type user taking data
first_number = int(input("enter the first number = "))
second_number = float(input("enter the second number = "))

enter the first number = 343
enter the second number = 434

In [ ]:
print(first_number)
print(second_number)

343
434.0

In [ ]:
sum = first_number + second_number
sum

777.0

In [ ]:
# check the type
type([22,55,"bala"])

list

In [ ]:
type(sum)

float

In [ ]:
# convert database type
a = list("sagar")
b = float(33)
a,b

(['s', 'a', 'g', 'a', 'r'], 33.0)

In [ ]:
first_number = input("enter the first number = ")
second_number = input("enter the second number = ")
sum = int(first_number) + float(second_number)
sum

enter the first number = 44
enter the second number = 77

121.0

In [ ]:
first_number = input("enter the first number = ")
second_number = input("enter the second number = ")
sum = int(first_number) + float(second_number)
div = int(first_number) / float(second_number)
mul = int(first_number) * float(second_number)

print(sum)
print(div)
print(mul)

enter the first number = 2
enter the second number = 9
11.0
0.2222222222222222
18.0

# literals

In [ ]:
# literal is a raw data in python there are various type of literals they are as follows. means veriable in data.
# numerical literals
# string literals
# boolen literals
# special literals

In [ ]:
# numerical literals
a = 0b1010  # binary literals
b = 100 # decimal literals
c = 0o310 # octal literals
d = 0x12c # hexadecimal literals

# float literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

# complex literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
x =435
print(bin(x))
print(oct(x))
print(hex(x))

0b110110011
0o663
0x1b3

In [ ]:
 x = 0b110110011
print(x)   # normal number output

435

In [ ]:
# string literals
string = ' this is python'
strings = " this is python "
char = "c"
multiline_str = """ this is multipleline string with more than one line code"""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \ n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

 this is python
 this is python
c
 this is multipleline string with more than one line code

raw \ n string

In [ ]:
# BOOLEAN literal
a = True + 6  # one digit extra adding
b = False + 20

print("a", a)
print('B', b)

a 7
B 20

In [ ]:
# special literal
a = None
print(a)

None

# operators

In [ ]:
# oprator are use to python operations on varibles are values.
# arithmatic operators
# comparision operators
# logical operators
# bitwise operators
# assigment operators
# identity operators
# membership operators

In [ ]:
# arithmatic operators
a = 100
b = 200

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)   # power of mode , true division
print(a//2)  # integir division

300
-100
20000
0.5
100
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
50

In [ ]:
 # comparision operators , relation operator
a = 100
b = 200

print(a<b)
print(a>b)
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

True
False
False
True
True
False

In [ ]:
# logical operators
x = True
y = False

print(x or y)  # both in atlist one need is True, difference
print(x and y)  # both is True othervise show the false
print(not x)  # x current value True

True
False
False

In [ ]:
# bitwise operators
# its binary pattern through solve
            # 1 = 001
            # 2 = 010
a = 100
b = 200

print(a&b) # and
print(a|b) # or
print(a>>b)
print(b<<b)

64
236
0
321387608851798055108392418468232520504440598756558567060275200

In [ ]:
# assigment operators
a = 3
print(a)

3

In [ ]:
a += 3  # a= a+3
print(a)

6

In [ ]:
a -= 3
a *= 3
a &= 3

In [ ]:
# identity operators
a=3
b=3
print(a is b) # is means show the identical memrey location

True

In [ ]:
x ="hello"  # check two different  varible in  but same  memray data
y ="hello"


print(y is x)

False

In [ ]:
a = [1,2,3]
b = [1,2,3]

print(a is b)

False

In [ ]:
# membership operators
# check the data in call in varible

x = "jay shree ram"
print("j" in x)
print("jay shree ram" in x)
print("sagar" in x)
print("mahabhart" is not x)

True
True
False
True

<>:8: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\nweta\AppData\Local\Temp\ipykernel_16308\4085756681.py:8: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print("mahabhart" is not x)

In [ ]:
a = [11,22,33,44,55]
print(44 in a)
print(777 in a)

True
False

# regular expression

In [ ]:
import re
pattern="^f"
from_string=input("enter a string   ")

re.match(pattern,from_string)  # only sentence in start f show in output position use od number time

enter a string   fan

In [ ]:
aaa="^a"
from_string = input("Enter the string ")
re.match(aaa,from_string)

Enter the string apple

In [ ]:
re.match("^c","cat") # short c in present star in cat

In [ ]:
# re.match(ending, from_string)

In [ ]:
pattern = "[A-z]*e$"  # e only e match last  posion, ex in 5 position

re.match(pattern,input("enter string "))

enter string Daaae

In [ ]:
import re
pattern = "[0-9]{4}$"  # $ last f0ur list interger
password = input("Enter the ")
re.match(pattern,password )

Enter the 1234

In [ ]:
pt = "^[A-Z][a-z]*e$"
re.match(pt,input("String "))

String 22e3

In [ ]:
# ending
ending="[A-Z,a-z]*e$"
from_string = input("Enter the string ")
re.match(ending, from_string)

Enter the string SDSAKDSAKsdsde

In [ ]:
ending="[A-F]*e$"  # last e small in use
from_string = input("Enter the string ")
re.match(ending, from_string)

Enter the string ABe

In [ ]:
#  starting and ending with particular letter and having fix length

pattern = "^a...s$"  # start a end=s
from_string = input("Enter the string ")
re.match(pattern, from_string)

Enter the string abhas

In [ ]:
pattern = "^a.*s$"  # start a end = s but both in . show
from_string = input("Enter the string ")
re.match(pattern, from_string)

Enter the string apple.frutes

In [ ]:
pattern = "^a[a-z]*s$"
from_str = input()
re.match(pattern, from_str)

actives

In [ ]:
# Metacharacter
[] - specifies the set of characters

e.g.
[a-j] is used to create set of a,b,c,d,f,g,h,i,j

In [ ]:
pattern = "^[A-B]"
re.match(pattern, from_string)

Enter the string BA

In [ ]:
# findall
Nameage = '''
Janice is 22.
and Theon is 12
Gabriel is 49 and
Joey is 21
'''
Nameage

'\nJanice is 22. \nand Theon is 12 \nGabriel is 49 and \nJoey is 21 \n'

In [ ]:
re.findall('\d{1,10}', Nameage)

['22', '12', '49', '21']

In [ ]:
re.findall(r'[A-Z][a-z]*',Nameage)
# new line \n to use r

['Janice', 'Theon', 'Gabriel', 'Joey']

In [ ]:
re.findall('[A-Z][a,b]*',Nameage)

['Ja', 'T', 'Gab', 'J']

In [ ]:
ages = re.findall(r'\d{1,10}', Nameage)
names = re.findall(r'[A-Z][a-z]*',Nameage)

In [ ]:
ages

['22', '12', '49', '21']

In [ ]:
names

['Janice', 'Theon', 'Gabriel', 'Joey']

In [ ]:
dict(zip(names, ages))

{'Janice': '22', 'Theon': '12', 'Gabriel': '49', 'Joey': '21'}

In [ ]:
import pandas as pd
pd.Series(names, ages)

22     Janice
12      Theon
49    Gabriel
21       Joey
dtype: object

In [ ]:
x = 0
for eachname in names:
    ageDict[eachname] = ages[x]
    x+=1
print(ageDict)

{'Janice': '22', 'Theon': '12', 'Gabriel': '49', 'Joey': '21'}

In [ ]:
import pandas as pd
pd.Series(ageDict)

Janice     22
Theon      12
Gabriel    49
Joey       21
dtype: object

In [ ]:
string= "We too need to 23  to inform him 123 with the latest information!"

allinform = re.findall("23",string)
#allinform = re.findall("inform",string)
print(allinform)
for i in allinform:
    print(i)

['23', '23']
23
23

In [ ]:
x = "sagar"
for i in x:
    print("hellow")  # sagar is 5 chara so is 5 time shiw

hellow
hellow
hellow
hellow
hellow

In [ ]:
for i in range (12):
    print("SHREE SWAMI SAMARTH")

SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH
SHREE SWAMI SAMARTH

In [ ]:
for i in range(0,31,3):
    print("sagar", i)

sagar 0
sagar 3
sagar 6
sagar 9
sagar 12
sagar 15
sagar 18
sagar 21
sagar 24
sagar 27
sagar 30

In [ ]:
for i in range(0,51,5): #5 = step
    print(i)

0
5
10
15
20
25
30
35
40
45
50

In [ ]:
x = input("enter the number")
x = [11,22,33,44,55,66,77,88,99]
for i in [11,22,33,44,55,66,77,88,99]:
    print(i)

enter the number 23232

11
22
33
44
55
66
77
88
99

In [ ]:
x =5
while x>=1:
    print("shree")
    x = x-1
print("ram")

shree
shree
shree
shree
shree
ram

In [ ]:
x=0
while x<5:
    print(x)
    x = x+1

0
1
2
3
4

In [ ]:
# 1-5 letter 4 digits 1 letter
a= "ZEAAA1234N"
#re.fullmatch(a,"ZZAAA1234B")
re.fullmatch("[A-Z]{5}[0-9]{4}[A-Z]{1}",a)

In [ ]:
if re.search("inform","we need to inform him with the latest information"):
    print("There is inform")
else:
    print("NO inform")

There is inform

In [ ]:
Str = re.search("inform","we needed to inform him with the latest need information")
Str

In [ ]:
# finditer
Str = "we need to inform him with the latest information"
list(re.finditer("inform", Str))

[<re.Match object; span=(11, 17), match='inform'>,
 <re.Match object; span=(38, 44), match='inform'>]

In [ ]:
Str.split()

['we', 'need', 'to', 'inform', 'him', 'with', 'the', 'latest', 'information']

In [ ]:
import re
Str = "we need to inform him with the latest information"
#pa=list(re.finditer("inform", Str))
#print(pa)

for i in re.finditer("inform", Str):
    print(i)
    locTuple = i.span()
    print(locTuple)

<re.Match object; span=(11, 17), match='inform'>
(11, 17)
<re.Match object; span=(38, 44), match='inform'>
(38, 44)

In [ ]:
Str = "Sat, Aat, KAapa hat 12at mat pat lot socket fat, at, atlas"

allStr = re.findall("[A-Z,a-z,0-9]*at", Str)
##,a-z,0-9
#allStr = re.findall("at*", Str)
print(allStr)
#for i in allStr:
 #   print(i)

['Sat', 'Aat', 'hat', '12at', 'mat', 'pat', 'fat', 'at', 'at']

In [ ]:
Str[1]

'a'

In [ ]:
for i in list(re.finditer("at",Str)):
    #print(i.span())
    #print(type(i.span()[0]), type(i.span()[1]))
    #ll, ul =i.span()[0], i.span()[1]
    print(Str[: i.span()[1]])

Sat
Sat, Aat
Sat, Aat, KAapa hat
Sat, Aat, KAapa hat 12at
Sat, Aat, KAapa hat 12at mat
Sat, Aat, KAapa hat 12at mat pat
Sat, Aat, KAapa hat 12at mat pat lot socket fat
Sat, Aat, KAapa hat 12at mat pat lot socket fat, at
Sat, Aat, KAapa hat 12at mat pat lot socket fat, at, at

In [ ]:
Str = "Sat, Aat, KAapa hat 12at mat pat lot socket fat, at, atlas"

allStr = re.finditer("^[A-Z,a-z,0-9]*at", Str)
##,a-z,0-9
#allStr = re.findall("at*", Str)
for all_val in re.finditer("[A-Z,a-z,0-9]*at", Str):
    val = all_val.span()
    #print(val[0], val[1])
    print(Str[val[0]:val[1]])
#for i in allStr:
 #   print(i)

Sat
Aat
hat
12at
mat
pat
fat
at
at

In [ ]:
a= "ABCD"
a[2]

'C'

In [ ]:
Str = "Sat, hat, mat, pat, at,Kafka, atleast, atlas"

#someStr = re.findall("[a-z]at", Str)
someStr = re.findall("[A-Z]at", Str)
some2 = re.findall("[a-z]at", Str)
print(someStr)
print(some2)
final=someStr+some2
print(final)

['Sat']
['hat', 'mat', 'pat']
['Sat', 'hat', 'mat', 'pat']

In [ ]:
someStr = re.findall("[A-z]at", Str)
someStr

['Sat', 'hat', 'mat', 'pat']

In [ ]:
randstr = "Enjoying the programming with python"

print(re.search(r"prog", randstr))

<re.Match object; span=(13, 17), match='prog'>

In [ ]:
import re
cricket_score = """Sachin score 76 and Kohali score 40 and Rohit score 50 and Dhoni score 100"""
print(cricket_score)
# finding name and score

sachin score 76 and kohali score 40 and rohit score 50 and dhoni score 100

In [ ]:
import re

def validate_pan(pan):
    pattern = r'^[A-Z]{5}[0-9]{4}[A-Z]{1}$'
    if re.match(pattern, pan):
        return True
    else:
        return False

# Example usage
pan_number = "ABCDE1234Z"

if validate_pan(pan_number):
    print("Valid PAN card number")
else:
    print("Invalid PAN card number")

In [ ]:
import re
pan = input("enter pan number     ")
pattern = '^[A-Z]{5}[0-9]{4}[A-Z]{1}$'
ll = re.match(pattern, pan)


if ll==pattern:
    print("correct pan number")
else:
    print("wrong number")

enter pan number      ASDDF2345T

wrong number

In [ ]:
pan = input("enter pan number     ")
if re.match('[A-Z]{5}[0-9]{4}[A-Z]{1}', pan):
            print('validating pan card')
else:
    print("Error in pan card")

enter pan number      SFHGJ9874E

NameError: name 're' is not defined

# if else statment

In [45]:
# ATM Machine 20/12/2023
print("welcome to HDFC ATM\n 1. set pin code\n 2. withdraw\n 3. deposite\n 4. balance\n 5. exit")


enter = int(input("welcome to HDFC ATM:   "))

deposite = 45670
balance = deposite
exit = "exit"

import re
if enter == 1:
    set_pin_code = input("set pin code:    ")

    if re.match('[0-9]{4}$', set_pin_code):
        print('succesfully set pin code')
    else:
        print(" wrong set pin try again ")


if enter == 2:
    withdraw = int(input("withdraw:   "))
    if withdraw < 99:
        #for withdraw in [100,200,500]:
            print(" availble only 100,200,500")
    elif 99 < withdraw:
        avilable_balance = balance - withdraw
        if avilable_balance < 0:
            print("balance negative not withdrow")
        else:
            print(" successfully withdraw", withdraw)
            print(" available balance", avilable_balance)

if enter == 3:
    
    deposite = int(input("deposite:    "))
    if enter == 3:
        total = balance + deposite
        print("credit",deposite)
        print("total balance", total)
    else:
         print("network issue")

if enter == 4:
    print("balance", balance)


if enter == 5:
    print(exit,"Thanku\n Digital INDIA")

welcome to HDFC ATM
 1. set pin code
 2. withdraw
 3. deposite
 4. balance
 5. exit
 wrong set pin try again

In [ ]:
import re

email = input("Enter email: ")
pattern = r'^[a-zA-Z0-9]+@[a-zA-Z]+\.[a-zA-Z]+$'
if re.match(pattern, email):
    print("Valid email")
else:
    print("Invalid email")
    try_again_email = input("Enter email again: ")
    if re.match(pattern, try_again_email):
        print("Valid")
    else:
        print("Invalid")



password = input("Enter password: ")
pattern_ = r"^(?=.*[a-z])(?=.*[A-Z])(?=.*[$/@])(?=.*[0-9]).{8,}$"
if re.match(pattern_, password):
    print("Valid password")
else:
    print("Invalid password")
    try_again_password = input("Enter password again: ")
    if re.match(pattern_, try_again_password):
        print("Valid")
    else:
        print("Invalid")



if email and password:
    print("WELCOME")
else:
    print("try agaim")

Invalid email

In [ ]:
import re
email = input("Enter email: ")

if re.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$', email):
    pass
else:
    print("Invalid email")
    print("try again")

Enter email: gsfdgsafd@54gmail.com

In [ ]:
# email = sagarabhang10000@gmail.com300
# password = 1234
email = input("enter email   ")
if re.match('[a-z]*[0-9]*[@.]+[a-z]*', email):
if "@" in email:
    pass
else:
    print("enter right email   = missing @")
    email = input("enter email   ")
    if "@" in email:
        print("finall right id")
    else:
        ("incorrect, try to correct input id ")
password = input("enter password")

if email == "sagarabhang93@gmail.com"  and password == "1234":
    print("welcome")
else:
    print("incorrect  password")
    password = input("password")
    if "1234" in password:
        print("right password")
    else:
        print("incorrecct")

enter email   sagar#gmail.com
enter right email   = missing @
enter email   sagar@gmail.com
finall right id
enter password1234
incorrect  password
password1234
right password

In [ ]:
sector = str(input("enter the sector:  "))
actual_invest = float(input("enter actual_invest:  "))
percentage = float(input("enter the  percentage      "))

if sector == 'automobile':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest)
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )

elif sector == 'telecom':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )

elif sector == 'insurance':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )

elif sector == 'banking':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )

elif sector == 'medical':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )

else:
    print(" automobile, telecom, insurance, banking,medical isme  invest kro tumne galat sector me invest kiya he , isliye aapko paise nahi mile , sorry")

In [50]:
x = input("enter the number")
sing = input ("enter the sign")
y = input("enter the number")

In [ ]:
sector = str(input("enter the sector:  "))
actual_invest = float(input("enter actual_invest:  "))
percentage = float(input("enter the  percentage      "))

if sector == 'automobile':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest)
    commision = (benefit + benefit * 0.02) - benefit
    final_amount_credit = benefit - commision
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )
    print("commision:", commision)
    print("final amount credit", final_amount_credit)

elif sector == 'telecom':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    commision = (benefit + benefit * 0.02) - benefit
    final_amount_credit = benefit - commision
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )
    print("commision:", commision)
    print("final amount credit", final_amount_credit)

elif sector == 'insurance':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    commision = (benefit + benefit * 0.02) - benefit
    final_amount_credit = benefit - commision
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )
    print("commision:", commision)
    print("final amount credit", final_amount_credit)

elif sector == 'banking':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    commision = (benefit + benefit * 0.02) - benefit
    final_amount_credit = benefit - commision
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )
    print("commision:", commision)
    print("final amount credit", final_amount_credit)

elif sector == 'medical':
    total_invest = actual_invest * percentage
    benefit = actual_invest + (total_invest )
    commision = (benefit + benefit * 0.02) - benefit
    final_amount_credit = benefit - commision
    print('Today benefit amount:', total_invest)
    print('Total amount:', benefit  )
    print("commision:", commision)
    print("final amount credit", final_amount_credit)

else:
    print(" automobile, telecom, insurance, banking,medical isme  invest kro tumne galat sector me invest kiya he , isliye aapko paise nahi mile , sorry")

enter the sector:   TELECOM
enter actual_invest:   6543
enter the  percentage       54

 automobile, telecom, insurance, banking,medical isme  invest kro tumne galat sector me invest kiya he , isliye aapko paise nahi mile , sorry

# grade through increase monthly salary

In [ ]:
grade = input("enter the grade : ")
salary = float(input("enter the salary"))
if grade == 'A':
    increase = salary * 0.5
    print("salary monthly :", increase + salary)
elif grade == 'B':
    increase = salary * 0.3
    print("salary monthly :", increase + salary)
elif grade =="C":
    increase = salary * 0.2
    print("salary monthly:", increase + salary)
elif grade =="D":
    increase =salary *0.1
    print("salary monthly", increase +salary)

else:
    print(" no increment")

enter the grade : C
enter the salary100000
salary monthly: 120000.0

In [ ]:
# calculator
num_1 = float(input("enter the number  "))
sing = input("enter sing  ")
num_2 = float(input("enter the number  "))

if sing == "+":
    print(" answer", num_1 + num_2)
elif sing == "-":
    print(" answer", num_1 - num_2)
elif sing == "*":
    print(" answer", num_1 * num_2)
elif sing == "/":
    if num_2 != 0:
        print(" answer", num_1 / num_2)
    else:
        print(" its o is not divided")
else:
    print(" wrong")

enter the number  22
enter sing  /
enter the number  0
 its o is not divided

In [ ]:
grade = input("Enter the employee's grade (A, B, C, or D) : ")
current_salary = input("Enter the current salary : ")

if grade == 'A':
    print("new_salary =" current_salary * 50%)
elif grade == 'B':
    print("new_salary =" current_salary * 30%)
elif grade == 'C':
    print("new_salary =" current_salary * 20%)
elif grade == 'D':
    print("new_salary =" current_salary * 10%)
else:
    print("Invalid grade entered")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1356456340.py, line 5)

password = input("password")
if "1234" in password:
    print("right password")
else:
    print("incorrecct")

In [ ]:
# email = input("enter email")
# if "@" in email:
#     pass
# else:
#     print("imncorrect id, missing  @")
#     email = input("again enter email")
# password = input("password ")
# if "1234" in password:
#     print("right password")
# else:
#     print("incorrecct")

email = input("enter email")
if "@" in email:
     pass
else:
    print("imncorrect id, missing  @")
    email = input("password")
    if email =="sagarabhang93@gmail.com":
        print("finaly right password")
if email == "sagarabhang93@gmail.com" and password == "1234":
    print("welcome")
elif email == "sagarabhang93@gmail.com" and password !="1234":
    print("password wrong")
    password = input("password")
    if password =="1234":
        print("finaly right password")
else:
    (" incorrect id  and password")

enter email@

In [ ]:
email = input("enter email")
if "@" in email:
    pass
else:
    print("imncorrect id, missing  @")
    email = input("enter email")
password = input("password")
if "1234" in password:
    print("right password")
else:
    print("incorrecct")
    password = input("password")
if email == "sagarabhang93@gmail.com" and password == "1234":
    print("welcome")

enter email@
password122
incorrecct
password1234

# loops - two type
# while loop  =  not know how many loop run
# for loop  = already know loop how many type run (if we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop)
# itrative = if we want to execute a group of statements multiple times then use we should go for iterative statments

In [ ]:
#while loop means itrection control block  START, CONDITION, INCREMENT/DECREMENT
# while loop sentence
# while  condition:
#  code

In [ ]:
i = 1
while i<= 10:
    print(i)
    i = i+1   # increment

print(i)

1
2
3
4
5
6
7
8
9
10
11

In [52]:
i = 1
while i<=100:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
i=10  # start
while i >= 1:   # condition
    print(i)
    i= i-1  # decrement

print(0)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
number = int(input("enter the number"))

i=1   # i varible iniction value 1
while i<11:
    print(number * i)
    # print(number, "*", "i", "=", number * i)
    i+=1

enter the number 3

3
6
9
12
15
18
21
24
27
30

# break = we can use break statement inside loops to break loop execution based on some condition

In [13]:
for i in range(10):
    if i == 7:
        print("plz  break")
        break

    print(i)

0
1
2
3
4
5
6
plz  break

In [15]:
cat = [10,20,600,60,70]
for item in cat:
    if item == 600:
        break
    print(item)

10
20

# continue = we can use continue statement to skip current iteration and continue next iteration

In [17]:
for i in range (10):
    if i%2 ==0:
        continue
    print(i)

1
3
5
7
9

In [19]:
cat = [10,20,600,60,70]
for i in cat:
    if i == 600:
        continue
    print(i)

10
20
60
70

# loops with else block

In [41]:
cat = [10,20,600,6000,70]
for i in cat:
    if i >= 600:
        print("not process")
        break
    print (i)
        
else:
    print("all item cuccesfully ")

10
20
not process

# pass = its empy block with pass keyword

In [42]:
for i in range(10):
    if i % 2 ==0:
        print(i)
    else:
        pass

0
2
4
6
8

In [ ]:
# guessing game
import random
random.randint(1,100)

28

In [55]:
import random 
random.randint(1,100)

83

In [ ]:
import random
jackpot = random.randint(1,5)

guess = int(input("enter the number"))
counter = 1

while guess != jackpot:
    if guess < jackpot:
        print("guess is higher")
    else:
        print("guess is lower")
    guess = int(input("enter the number"))
    counter+=1

print("right number")
print(counter, "attemts")

enter the number3
guess is higher
enter the number2
guess is higher
enter the number5
guess is lower
enter the number1
guess is higher
enter the number2
guess is higher
enter the number2
guess is higher
enter the number3
guess is higher
enter the number4
right number
8 attemts

# for loop

In [ ]:
# range function
range(1,11)

range(1, 11)

In [57]:
# show the range number
list(range(1,21))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
import numpy as np
from numpy import arange
ll = list(arange(1,21))
ll

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
import numpy as np

# Generating an array of float numbers from 0 to 10 (exclusive) with a step of 0.5
my_arange = np.arange(0, 10, 0.5)
print(my_arange)

[0.  0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5 7.  7.5 8.  8.5
 9.  9.5]

In [ ]:
# step, 3 means steps
list(range(3,31,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
list(range(10,0,-1))  # reverce range

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# sequence
# string
"ram"

'ram'

In [ ]:
["ram","seeta"]

['ram', 'seeta']

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [ ]:
#sequence
for i in "kolkata":
    print(i)

k
o
l
k
a
t
a

In [ ]:
for i in (1,2,3,4,5):
    print(i)

1
2
3
4
5

# Nested loops

In [ ]:
# *
# **
# ***
# ****

In [59]:
rows = int(input("enter the number of row  "))

for i in range(1,rows+1):
    for j in range(0,i):
        print("*", end= "")
    print("")

*
**
***
****
*****
******
*******
********
*********
**********
***********

In [62]:
for i in range (1, 11):
    for j in range(0, i):
        print("%", end = "")
    print("")

%
%%
%%%
%%%%
%%%%%
%%%%%%
%%%%%%%
%%%%%%%%
%%%%%%%%%
%%%%%%%%%%

In [ ]:

for i in range (1,7):
    for j in range (0,i):
        print("*", end= "")
    print("")

*
**
***
****
*****
******

In [ ]:
*******
 ******
  *****
   ****

In [ ]:
for i in range (7,0,-1):
    for j in range (i-1,0,-1):
        print((i-1)*" ", end= "*")
    print("")

      *      *      *      *      *      *1
     *     *     *     *     *1
    *    *    *    *1
   *   *   *1
  *  *1
 *1
1

""# break, continue, pass

In [ ]:
# break
i=1
for i in range(1,15):
    if i==8:
        break
    print(i)

1
2
3
4
5
6
7

In [ ]:
# continue
for i in range(1,11):
    if i == 5:   # continue value skip
        continue
    print(i)
    print("hello")

1
hello
2
hello
3
hello
4
hello
6
hello
7
hello
8
hello
9
hello
10
hello

In [ ]:
# pass
for i in range(1,11):
    pass     # current time not avalble logic, its pass

# built_in_functions

In [ ]:
# print
# input
# type
# int etc

In [ ]:
# absult function

In [ ]:
abs(4)

4

In [ ]:
abs(-4)

4

In [ ]:
# powerr
pow(2,-3)

0.125

In [ ]:
# min/max
min([1,44,66,77])

1

In [ ]:
max([1,44,66,77])

77

In [ ]:
# round
c = 22/7
round(c)

3

In [ ]:
# divmod
divmod(5,2)

(2, 1)

In [ ]:
# bin/oct/hex
bin(4)
hex(5)

'0x5'

In [ ]:
#id
a =13
id(a)

140737311773864

In [ ]:
# ord  # as value
ord("c")

99

In [ ]:
# ord
ord("G")

71

In [ ]:
# len
len("kolkata")

7

In [ ]:
# sum, sum of ln the list data
sum([1,2,3,4,5,6,7,8,9,10])

55

In [ ]:
# help
help("pandas")

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

# built_in_modeles

In [ ]:
# consider a module to be the same as a code library
# a file containing a set of functions you want to include in your application
# math
# random
# os
# time

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
math.e

2.718281828459045

In [ ]:
math.factorial(5)

120

In [ ]:
math.ceil(6.3)

7

In [ ]:
math.floor(6.9)

6

In [ ]:
math.sqrt(4)

2.0

In [ ]:
# random module
import random
random.randint(1,100)

38

In [ ]:
aa=[33,55,77,23,675,98]
random.shuffle(aa)   # shuffle pate sarkh pistay
aa

[55, 33, 23, 77, 98, 675]

In [64]:
# time
import time
time.time()

1755262632.7820194

In [ ]:
time.ctime()

'Sat Oct  5 00:14:37 2024'

In [ ]:
print("hello")
time.sleep(5)   # after 5 sec to run world word
print("world")

hello
world

In [65]:
# os
import os
os.getcwd()   # file path show

'd:\\Sagar\\Basic & Advance python'

In [ ]:
os.listdir()  # file path in other file show in list

['.anaconda',
 '.android',
 '.astropy',
 '.bash_history',
 '.conda',
 '.condarc',
 '.continuum',
 '.docker',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.keras',
 '.matplotlib',
 '.spyder-py3',
 '.vscode',
 '3D Objects',
 'ansel',
 'Api to data frame.ipynb',
 'AppData',
 'Application Data',
 'Basic & Advance Python.ipynb',
 'Column TransForm.ipynb',
 'Contacts',
 'Cookies',
 'csv.py.ipynb',
 'data analysis.ipynb',
 'Documents',
 'Downloads',
 'eda and preprocessing (1).sql',
 'Favorites',
 'IntelGraphicsProfiles',
 'Jedi',
 'Links',
 'Local Settings',
 'MicrosoftEdgeBackups',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{bd5e8245-6a25-11ec-9d4c-a9da8f9ed82a}.TM.blf',
 'NTUSER.DAT{bd5e8245-6a25-11ec-9d4c-a9da8f9ed82a}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{bd5e8245-6a25-11ec-9d4c-a9da8f9ed82a}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'pallets eda and preprocessing (1).py',
 'pipeline.ipynb',
 'PrintHood',
 'PycharmProjects',
 'Recent',
 'Roaming',
 'Saved Games',
 'Searches',
 'SendTo',
 'setup.exe',
 'Start Menu',
 'Templates',
 'undstanding data.ipynb',
 'Untitled.ipynb',
 'Videos']

# **strings**  = any sequence of character with in either single quotes or double quotes is considered as a string

In [ ]:
# string are sequence of characters
# in python specifically. string are a sequence of unicode characters.

# creating string
# accessing string
# adding chars to string  , not adding in chara in string
# editing string           , string is not edit, string are a immutable data type
# deletion string
# operation on string
# string function

In [ ]:
a = "Hello, World!"
print(a[1])   # indexing

e

In [ ]:
for x in "banana":
    print(x, end= "")

banana

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [ ]:
# creating string
c= "hellow"
print(c)

hellow

In [ ]:
age = 36
txt = "My name is John, I am " + age   # int and str not add
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [67]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction() :
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [ ]:
cc = """ my nane is sagar. i am data scientiest"""  # multiline add
print(cc)

 my nane is sagar. i am data scientiest

In [69]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [ ]:
# accessing string
# concept of indexing

# positive indexing
ccc = "hello"
print(ccc)

hello

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
print(ccc[0]) # show the number through character show

h

In [ ]:
print(ccc[3])

l

In [ ]:
# # negnative indexing
print(ccc[-2])  # backside through number show in chara

l

In [ ]:
# slicing
bb= "hello"
print(bb)

hello

In [15]:
a = "Hello World!"
print(a.split("+")) # returns ['Hello', ' World!']

['Hello World!']

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("H", "h"))

hello, World!

# by usening index

In [ ]:
print(bb[0:4])  # : through multing chara show

hell

In [16]:
print(a[0:12:2])  # 2 farkane new word

HloWrd

In [ ]:
print(bb[:3])

hel

In [ ]:
print(bb[:])

hello

In [ ]:
print(bb[0:5:2])   #  total 2 to 5 chara in 2 skip stepwise sequence

hlo

In [ ]:
print(bb[::-2])  # all chara reverce

olh

In [44]:
# editing and deleting in string
# editing  , # string is not edit, string are  a immutable data type
z= "hello"
z[0]= "k"

TypeError: 'str' object does not support item assignment

In [ ]:
#  deletion string
# all string is delete not special chara delete
# del c[3]   not output

In [ ]:
# operation on strings
# arithmatic operation
# relationaloperation
# logical operation
# loops on string
# membership operation

In [45]:
# arithmatic operation (+,*)

"good" + "morning"  # + means concagition

'goodmorning'

In [50]:
print ("ram/n"*3)

ram/nram/nram/n

In [ ]:
# relationaloperation (<,>,=,!+)
"ram" =="ram"

True

In [ ]:
"ram" != "seeta"

True

In [ ]:
"pune" > "mumbai"  # apla latter sequence throght less, grater denoted

True

In [ ]:
"pune" < "mumbai"

False

In [ ]:
"P" >"P"

False

In [ ]:
# logical operation
"good" and "morning"

'morning'

In [ ]:
"good" or "morning"

'good'

In [ ]:
# " "  False , emapy means false
# "good" True,  string in true

In [51]:
""  and " best od luck"

''

In [23]:
str = " Best of luck"
print(str.capitalize())
print(str.casefold())
print(str.center(33))

 best of luck
 best of luck
           Best of luck

In [ ]:
not "krishna"

False

In [ ]:
 not ""

True

In [ ]:
# string itretion sring
 # each letter seprayte
w = 'MY NAME KHAN'
t = len(w)

for a in range (t-1,-1,-1):   # reverse string start,stop,step
    print(w[a])

#

N
A
H
K

E
M
A
N

Y
M

In [ ]:
# reverse string
w = 'MY NAME KHAN'
w2 = w[::-1]
for i in w2:
    print(i)

N
A
H
K

E
M
A
N

Y
M

In [ ]:
w = 'MY NAME KHAN'
vv = list(w)
ee = vv[::-1]
for i in ee:
    print(i)

N
A
H
K

E
M
A
N

Y
M

In [ ]:
# loops on string

In [ ]:
for a in range(2,11,1):
    print(a)

2
3
4
5
6
7
8
9
10

In [ ]:
v = "virat kohali"
for i in v:
    print(i)

v
i
r
a
t

k
o
h
a
l
i

In [ ]:
v = "virat kohali"
for i in v[2:8:2]:
    print(i)

r
t
k

In [ ]:
v = "virat kohali"
for i in v[::-1]:   # reverse sentence
    print(i)

i
l
a
h
o
k

t
a
r
i
v

In [ ]:
# membership operation
v = "virat kohali"
"kohali" in v

True

In [ ]:
"dhoniu" in v

False

In [ ]:
"dhoniu" not in v

True

# strings in python

In [ ]:
# common function
# len
# max
# min
#sorted
# lower
# upper
# title
# capitallize

In [ ]:
#len
a = "mumbai"
len(a)

6

In [ ]:
max(a)

'u'

In [ ]:
min(a)

'a'

In [ ]:
sorted(a)  # asending format show

['a', 'b', 'i', 'm', 'm', 'u']

In [ ]:
sorted(a,reverse=True)  # decsending format

['u', 'm', 'm', 'i', 'b', 'a']

In [ ]:
# special string function
# capitalize
# title
# upper
# lower
# swapcase

In [ ]:
# capitalize, # first letter convert  capital latter
vv ="sagar sopan abhang"
vv.capitalize()

'Sagar sopan abhang'

In [ ]:
# title
vv.title()  # sentence in each word in first letter capital

'Sagar Sopan Abhang'

In [ ]:
# upper   # sentence in each capital
vv.upper()

'SAGAR SOPAN ABHANG'

In [ ]:
# lower    # sentence in each word small letter
vv.lower()

'sagar sopan abhang'

In [ ]:
# swapcase    # lower letter convert capital
              # upper letter convert lower
hh = " SAgaR soPAn abHANg"
hh.swapcase()

' saGAr SOpaN ABhanG'

# string imp FUNCTION

In [ ]:
# count function
bb ="sagar sopan abhang"
bb.count("s")              # show the how many time sentence in word count

2

In [ ]:
bb.count("an")

2

In [ ]:
# find/index  both is same work
# find
vv ="sagar sopan abhang"
vv.find("n")    # show the character number in sentence, sequency count

10

In [ ]:
vv ="sagar sopan abhang"
vv.find("z")    # output is -1 means output character not in sentence

-1

In [ ]:
# index
vv ="sagar sopan abhang"
vv.index("p")                # show the caracter number in sentence, sequency count                           # output is -1 means output character not in sentence but index out is error not in sentence character

8

In [ ]:
# endswith/startswith
# endswith
vv ="sagar sopan abhang"
vv.endswith("ang")          #  the sentence in any character in last letters look to output is true

True

In [ ]:
vv ="sagar sopan abhang"
vv.endswith("cis")       # the sentence in last letter not show to output is False

False

In [ ]:
# startswith
ss ="sagar sopan abhang"
ss.startswith("sa")         # the sentence in any character in first letters look to output is true

True

In [ ]:
ss ="sagar sopan abhang"
ss.startswith("gg")       # the sentence in first letter not show to output is False

False

In [ ]:
# format    # {} in fil the format words
"sagar {} abhang. . as {} scientiest". format("sopan","data")

'sagar sopan abhang. . as data scientiest'

In [ ]:
"sagar {0} abhang. . as {1} scientiest". format("sopan","data")
         # {1},[0] in the fill format sequence word decside from {1} number position

'sagar sopan abhang. . as data scientiest'

In [ ]:
"sagar {name} abhang. . as {cource} scientiest". format(name = "sopan", cource = "data")
                # {name} fill format in varible in data fill {} varible name

'sagar sopan abhang. . as data scientiest'

In [ ]:
# isalnum / isalpha / isdecimal / isdigit/ isidentifier
# isalnum   # mix al num
"dhoni07".isalnum()   # in accept  word otherwise number out put True but special character output False

True

In [ ]:
"dhoni07#".isalnum()   # special character output False

False

In [ ]:
# isalpha
"sagar".isalpha()  # all character is alpha

True

In [ ]:
 # isdecimal
"33".isdecimal()  # only decimal accept

True

In [ ]:
# isdigit
"29".isdigit()  # only single digit show not 20.9

True

In [ ]:
# isidentifier in not accept space output fase
"hellow word".isidentifier()

False

In [ ]:
"hellow_word".isidentifier()

True

In [ ]:
# split
"who is pm in india".split(  )   # sentence is convert list, each word  decisde from split() or split(" ")  mean space
                               #  split("pm") means pm word in sentence skip and this place is "," show in output list

['who', 'is', 'pm', 'in', 'india']

In [3]:
aa = ['who', 'is', 'pm', 'in', 'india']
" + ".join(aa)

'who + is + pm + in + india'

In [ ]:
"who is pm in india".split("pm")

['who is ', ' in india']

In [ ]:
"who is pm in india".split("who")

['', 'is pm in india']

In [ ]:
# join  , # list convert in string, # sentence join each words , special words, ie." " space through join
" ".join(['who', 'is', 'pm', 'in', 'india'])

'who is pm in india'

In [ ]:
" + ".join(['who', 'is', 'pm', 'in', 'india'])  # "+" + throgh list in all word join

'who + is + pm + in + india'

In [ ]:
# replace
"my name is khan". replace("khan","Sagar") # replace

'my name is Sagar'

In [4]:
"my name is ram".replace("ram", "laxman")

'my name is laxman'

In [ ]:
# strip,     # "" string space convert nornal space, first and last space remove
ss = "                         sagar                          "
ss

'                         sagar                          '

In [ ]:
ss.strip()

'sagar'

In [ ]:
# Sample list of values
values = [23, 45, 67, 12, 89, 55, 38]

# Sort the list in descending order and get the 3rd highest value
sorted_values = sorted(values, reverse=True)
third_highest = sorted_values[2]  # Index 2 gives the 3rd highest

print("The 3rd highest value is:", third_highest)

The 3rd highest value is: 55

In [ ]:
# input s1 = "ravi",
#       s2  = "reja"
# output = rraevjia

s1 = input ("enter the string")
s2 = input ("enter the string")

output = ""
i, j = 0,0

while i<len(s1) or j<len(s2):
    if i<len (s1):
        output = output +s1[i]
        i+=1
    if j<len (s2):
        output = output +s2[j]
        j+=1
print(output)

rraevjia

In [ ]:
# input s1 = "ravi",
#       s2  = "reja"
# output = rraevjia

s1 = "ravi"
s2  = "reja"

i = 0
j = 0
output = ""

while i < len(s1) or j < len(s2):
    if i < len(s1):
        output = output + s1[i]
        i = i +1
    if j < len(s2):
         output = output + s2[j]
         j = j+1

In [63]:
# input = B4A1D3
# OUTPUT = ABD134


s = input("enter the some string")
s1=s2=output = ""

for x in s:
    if x.isalpha():
        s1 = s1+x
    else:
        s2 = s2+x
for x in sorted(s1):
    output = output + x
for x in sorted (s2):
    output = output + x
print(output)

FGHJKL666678

In [62]:
s = input("Enter some string: ")
s1 = s2 = output = ""

# Iterate over the input string, not s1
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else:
        s2 = s2 + x

for x in sorted(s1):
    output = output + x
for x in sorted(s2):
    output = output + x

print(output)

DFGHJS34567

In [ ]:
# input = a4b3c2
# output = aaaabbbcc


s = input("enter the some string")
s1=s2=output = ""

for x in s:
    if x.isalpha():
        output = output + x
        pri = x
    else:
        output = output + pri * (int(x)-1)
    print(output)

s
ss
ssf
ssffff
ssffffh
ssffffhhhhhh

In [76]:
aa = input ("enter the some string")
bb = []

for x in aa:
    if x not in bb:
        bb.append(x)
        #output ="".join(bb)
print(bb)

['s', 'a', 'g', 'r', ' ']

# LIST data structure, datatyoe

In [ ]:
# list in python mutable
# what is a list = dtatype, store the data in list
# list vs array = # array homogenous, int datatype so array in all int but list diff data type accept in list.
                  # array much faster but gain t,he time list. # list is programmer friendly.
                  # array much faster but gain the time list. # list is programmer friendly.
# create =  # l=[1,2,"sagar"],hogenious and hetrogenis accept
# multi-dim list = # 2D_list = [1,2,3[4,5]], 3D_list = [[[1,2,3,4],[5,6],[7,3]]]
# access =
# edit
# add
# delete
# operation
#function

In [89]:
l1 =[1,2,3,4,5]
l1
print(type(l1))

<class 'list'>

In [ ]:
l2 = ["hello",4,5,True,5+6]
l2

['hello', 4, 5, True, 11]

In [ ]:
# multiline
d2_list = [1,2,3,4,[4,3]]
d2_list

[1, 2, 3, 4, [4, 3]]

In [ ]:
d3_list = [[1,2,3,4],[4,3],[2,98]]
d3_list

[[1, 2, 3, 4], [4, 3], [2, 98]]

In [96]:
s = "my name is khan"

l = s.split()

list_= list(l)

print(list_)
print(type(list_))

['my', 'name', 'is', 'khan']
<class 'list'>

In [ ]:
d3_list = [[1,2,3,4],[4,3],[2,98]]
df=[]
for subset in d3_list:
    for element in subset:
        df.append(element)
df

[1, 2, 3, 4, 4, 3, 2, 98]

In [ ]:
list["sagar"]

list['sagar']

In [ ]:
d3_list = [[1,2,3,4],[[4,3],[2,98]]]
vv = d3_list[1][0][0]
vv

4

In [ ]:
# access
l =[1,2,3,4,5,6,7,8]
l[4]=5000
print(l)

[1, 2, 3, 4, 5000, 6, 7, 8]

In [103]:
l =[1,2,3,4,5,6,7,8]
i = 0
while i<len(l):
  print(l[i])
  i = i+1

1
2
3
4
5
6
7
8

In [105]:
list = [1, 2, 3, 4, 5, 6, 7, 8]

for i in list:
    if i % 2 == 0:
        print(i)

2
4
6
8

In [112]:
list =[1,2,3,4,5,6,7,8]

for i in list:
    if i % 2 == 0:
        print(i)
#print(len(i))

2
4
6
8

In [113]:
print(list.count(6))

1

In [109]:
(l[3],l[5])  # 3, 5 no call

(4, 6)

In [ ]:
l[0:4]# 0 to 4 call

[1, 2, 3, 4]

In [ ]:
l[0::2] # 0 all row but step in 2

[1, 3, 5, 7]

In [ ]:
l[0]

1

In [ ]:
l[-1]

8

In [ ]:
l[::-1]  # reverce direction

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# list in list extract
d2_list = [1,2,3,4,[4,3]]
d2_list

[1, 2, 3, 4, [4, 3]]

In [ ]:
l=d2_list[-1]
l

[4, 3]

In [ ]:
l[0]

4

In [ ]:
d3_list = [[1,2,3,4],[4,3],[2,98]]
bb = d3_list[-2]
bb

[4, 3]

In [ ]:
d3_list = [[1,2,3,4],[4,3],[2,98]]
aa=d3_list[-2]
bb = aa[0]
bb

4

In [ ]:
bb[0]

4

In [ ]:
# edit
# replacement
ll =[1,2,3,4,5,6,7,8]
ll[0]=100
ll

[100, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
ll[-1]=500
ll

[100, 2, 3, 4, 5, 6, 7, 500]

In [ ]:
# how to add new items in list
# apend
# extend
# insert

In [ ]:
# append -last content               # one value or woard add use append
l = [100,200,300,400,500]
l.append(1000)
l.append("hello")
l

[100, 200, 300, 400, 500, 1000, 'hello']

In [ ]:
# extend   -add last content       # multiple add value or word use extend
l.extend([2000,3000,4000,5000,"ram","seeta","ramayan"])
l

[100,
 200,
 300,
 400,
 500,
 1000,
 'hello',
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan']

In [ ]:
ll.append([400,800])
ll

[100, 2, 3, 4, 5, 6, 7, 500, [400, 800]]

In [ ]:
ll.append("pune")
ll

[100, 2, 3, 4, 5, 6, 7, 500, [400, 800], 'pune']

In [ ]:
l.extend("gova")
l

[100,
 200,
 300,
 400,
 500,
 1000,
 'hello',
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan',
 [400, 800],
 'pune',
 'g',
 'o',
 'v',
 'a']

In [ ]:
# insert ,  # use in list internal position add i.e.chara,number etc
l.insert(1,"world")
l

[100,
 'world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan',
 [400, 800],
 'pune',
 'g',
 'o',
 'v',
 'a']

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
# delete in list chara
# del
# remove
# clear
# pop

In [ ]:
# del
l2=["a","b",33,77,3]
del l2

In [ ]:
ll=[100,
 'world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan',
 [400, 800],
 'pune']
del ll[0]   # remove specific positon chara,num
ll

['world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan',
 [400, 800],
 'pune']

In [ ]:
del ll[-2]  # reverse in dilete
ll

['world',
 200,
 300,
 400,
 500,
 1000,
 'hello',
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan',
 'pune']

In [ ]:
# remove
ll.remove("hello") # remove - direct name use
ll

['world',
 200,
 300,
 400,
 500,
 1000,
 2000,
 3000,
 4000,
 5000,
 'ram',
 'seeta',
 'ramayan',
 'pune']

In [ ]:
# pop last chara delete
ll.pop()
ll

['world', 200, 300, 400, 500, 1000, 2000, 3000, 4000, 5000, 'ram', 'seeta']

In [ ]:
# clear  , # not delete direct emapy
ll.clear()
ll

[]

In [ ]:
# operation in data
# concadition
l1 = [1,2,3,4]
l2 = [11,22,33,44]
l1 + l2

[1, 2, 3, 4, 11, 22, 33, 44]

In [ ]:
# multiplication
l1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# loop
for i in l1:
    print(i)

1
2
3
4

In [ ]:
4 in l1   # 4 present in l1

True

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# function in list
aa = [11,22,33,44,55,66,77,88,99]
len(aa)

9

In [ ]:
min(aa)

11

In [ ]:
max(aa)

99

In [ ]:
sorted(aa)  # temprary operation

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
sorted(aa, reverse=True)

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
aa.sort()  #  perment change
aa

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [136]:
aa.sort(reverse=True)
aa[2]

100

In [120]:
# finding highest second number
list = [100,44,66,897,455,90,2,5,23,77]
aa = sorted(list)
print(aa)
aa.reverse()
print(aa)
aa[1:2]
print(list.index(44))

[2, 5, 23, 44, 66, 77, 90, 100, 455, 897]
[897, 455, 100, 90, 77, 66, 44, 23, 5, 2]
1

In [ ]:
aa[::-1]

[99, 88, 77, 66, 55, 44, 33, 22, 11]

In [ ]:
aa.index(44)  # chara throgh show position number

5

In [128]:
list = []
aa = [11,22,33,44,55,66,77,88,99,100]

for i in aa:
    if i % 2==0:
        list.append(i)
print(list)

[22, 44, 66, 88, 100]

In [129]:
list.insert(3,600000)
list

[22, 44, 66, 600000, 88, 100]

In [125]:
bb = "hellow how are you".title()  # start woard convert capital
bb

'Hellow How Are You'

In [126]:
bb = "hellow how are you"
bb.split()

['hellow', 'how', 'are', 'you']

In [127]:
k=[]
for i in bb:
    print(i.capitalize())
    k.append(i.capitalize())
print(k)
print("".join(k))

H
E
L
L
O
W

H
O
W

A
R
E

Y
O
U
['H', 'E', 'L', 'L', 'O', 'W', ' ', 'H', 'O', 'W', ' ', 'A', 'R', 'E', ' ', 'Y', 'O', 'U']
HELLOW HOW ARE YOU

In [ ]:
k=[]

In [ ]:
df = "sagar@gmail.com"
print(df[:df.find("@")])

sagar

In [135]:
df = "sachintendulkar455@gmail.com"
#print(df[:df.find("@")])
print(df[:df.find("@")])

sachintendulkar455

In [ ]:
#df = "sagarabhang@gmail.com"
# @ before show
df = input("enter email   ")
print(df[:df.index("@")])

enter email   sdsad234@gmail.in
sdsad234

In [ ]:
# remove the dublicate in list
a=[1,2,3,4,5,6,6,6,3,7,9,4,0,2,1,5]
bb = []

for i in a:
    if i not in bb:
        bb.append(i)
print(bb)

[1, 2, 3, 4, 5, 6, 7, 9, 0]

In [ ]:
a=[1,2,3,4,5,6,6,6,3,7,9,4,0,2,1,5]
b = []

for i in a:
    if i not in b:
        b.append(i)
b

[1, 2, 3, 4, 5, 6, 7, 9, 0]

In [ ]:
a=[1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,5,5,6]
b=[2,4,6,9]
c={}
for i ,j in zip(a,b):
    c[i] = j
print(c)

{1: 9}

In [ ]:
a = [1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 6]
b = [2, 4, 6, 9]
c = {}

for i, j in zip(a, b):
    c.update({i:j})
print(c)

{1: 9}

# Tuples

# tuples
# create
# access
# edit
# add
# delete
# opration
# functions

In [ ]:
# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [ ]:
# create
t1 = ()
t1

()

In [ ]:
t1 =(1,2,"sam")
t1

(1, 2, 'sam')

In [ ]:
t1 = (1,2,3,4,("ram","sham"))
t1

(1, 2, 3, 4, ('ram', 'sham'))

In [ ]:
type(t1)

tuple

In [ ]:
t1 = (3)
t1   # NOT TUPLES

3

In [ ]:
type(t1)

int

In [ ]:
t1 = ("hello")
t1

'hello'

In [ ]:
type(t1)

str

In [ ]:
tuple(t1)  # convert to tuple

('h', 'e', 'l', 'l', 'o')

In [ ]:
list = [1,2,3,4,5,66]
list

[1, 2, 3, 4, 5, 66]

In [ ]:
type(list)

list

In [ ]:
tuple(list)     # list to convert tuple

(1, 2, 3, 4, 5, 66)

In [ ]:
# access
t2 = (1,2,3,4,5,6,7)
t2

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
t2[0]

1

In [ ]:
t2[-1]

7

In [ ]:
t2[::-1]

(7, 6, 5, 4, 3, 2, 1)

In [ ]:
t2[4]

5

In [ ]:
t2 = (1,2,3,4,5,6,7,(44,66,88))
t2[-1][2]  # tuple in las tuple in 2 chara

88

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x) # tuble convert in list
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
# edit
# add
# delete
# tuples just like string are immutable, not work  edit,add , delete

In [ ]:
# opration
t2 = (1,2,3,4,5,6,7,(44,66,88))
for i in t2:
    print(i)

1
2
3
4
5
6
7
(44, 66, 88)

In [ ]:
t2 * 3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 (44, 66, 88),
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 (44, 66, 88),
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 (44, 66, 88))

In [ ]:
rr = t2 + (33,66,1000)
rr

(1, 2, 3, 4, 5, 6, 7, (44, 66, 88), 33, 66, 1000)

In [ ]:
100 in rr

False

In [ ]:
1000 in rr

True

In [ ]:
# functions
# tuples is only read functionality and not write functionality

In [ ]:
qq = (1,4,5,6,7,88,9954,333454,5,334545,2)
qq

(1, 4, 5, 6, 7, 88, 9954, 333454, 5, 334545, 2)

In [ ]:
len(qq)

11

In [ ]:
min(qq)

1

In [ ]:
max(qq)

334545

In [ ]:
sum(qq)

678071

In [ ]:
sorted(qq)

[1, 2, 4, 5, 5, 6, 7, 88, 9954, 333454, 334545]

In [ ]:
sorted(qq,reverse = True)

[334545, 333454, 9954, 88, 7, 6, 5, 5, 4, 2, 1]

# SET

In [ ]:
#SET
# set not allov duplicate
# set have no indexing/ slicing
# set itself is a mutable data type

In [ ]:
s1 ={}
s1

{}

In [ ]:
type(s1)

dict

In [ ]:
a = set()
a

set()

In [ ]:
type(a)

set

In [137]:
s1 = {"hello",11,11}  # not dublicate sutable, numerical 1st refrece index
s1

{11, 'hello'}

In [138]:
s1 = {[11,22,33],"hello",11,11}  # not help to list
s1

TypeError: unhashable type: 'list'

In [ ]:
# hashing use to indexing find
s1

{11, 'hello'}

In [ ]:
id(s1)

3050001700832

In [ ]:
s11 = list(s1)
s11

[11, 'hello']

In [ ]:
s11[0]=100  # edit the set but id is change , so not perfect edit
s11

[100, 'hello']

In [ ]:
id(s11)

3050005399872

In [ ]:
# add
s3 = {11,22,33,44,55,66,77,88}
s3

{11, 22, 33, 44, 55, 66, 77, 88}

In [ ]:
id(s3)

3050004741280

In [ ]:
s3.add(1000)  # adding time id same
s3

{11, 22, 33, 44, 55, 66, 77, 88, 1000}

In [ ]:
id(s3)

3050004741280

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'mango', 'banana', 'apple', 'pineapple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'apple', 'cherry', 'kiwi', 'orange'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'cherry', 'banana'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [ ]:
# set in delete
# del
# remove
# pop

In [ ]:
s1

{11, 'hello'}

In [ ]:
dels1   # set is not delete
s1

NameError: name 'dels1' is not defined

In [ ]:
# remove, any chara remove
s3

{11, 22, 33, 44, 55, 66, 77, 88, 1000}

In [ ]:
s3.remove(55)  # id is same not change
s3

{11, 22, 33, 44, 66, 77, 88, 1000}

In [ ]:
# pop  # randomly remove in pop
s3

{11, 22, 33, 44, 66, 77, 88, 1000}

In [142]:
s3.pop()

NameError: name 's3' is not defined

In [ ]:
# set in operation not work(+,*,-)

In [ ]:
s3

{11, 22, 44, 66, 77, 88, 1000}

In [ ]:
#loop
for i in s3:
    print(i)

66
1000
11
44
77
22
88

In [ ]:
77 in s3

True

In [ ]:
# function
#length
s3

{11, 22, 44, 66, 77, 88, 1000}

In [ ]:
min(s3)

11

In [ ]:
max(s3)

1000

In [ ]:
sum(s3)

1308

In [ ]:
sorted(s3)

[11, 22, 44, 66, 77, 88, 1000]

In [ ]:
sorted(s3,reverse =True)

[1000, 88, 77, 66, 44, 22, 11]

In [ ]:
# s33= list(s3)
# s33

In [ ]:
s33[::-1]  # reverse

[88, 22, 77, 44, 11, 1000, 66]

In [ ]:
s3.union(s3)  # unic numbers sequenc

{11, 22, 44, 66, 77, 88, 1000}

In [ ]:
s3.intersection(s3)  # both in same chara

{11, 22, 44, 66, 77, 88, 1000}

In [ ]:
s1={11,44,777,333,999}

In [ ]:
s1.difference(s3)  # not both in same chara

{333, 777, 999}

In [ ]:
s3.difference(s1)

{22, 66, 77, 88, 1000}

In [ ]:
s3.symmetric_difference(s1)

{22, 66, 77, 88, 333, 777, 999, 1000}

In [ ]:
s1.isdisjoint(s3)  # commen =false , not comman unice = True

False

In [ ]:
s1.issubset(s3)

False

In [ ]:
s1.issuperset(s3)

False

In [ ]:
s1.clear()
s1    # eampy set

set()

# Dictionary

In [ ]:
# dictionary has no indexing
# dictionary is a mutable
# key immutable (not edit), # values they can be mutable(edit)
# key should be unique

# mutable (edit) = list / sets / dictionary
# immutable (not edit) = string / tupels / int / float / boolen / complex

In [ ]:
# {"ram":22}
  # ram - key,   # 22 - values

In [ ]:
d = {}
d

{}

In [ ]:
d = {"sachin":10,"dhoni":7,"kohali":18}
d

{'sachin': 10, 'dhoni': 7, 'kohali': 18}

In [ ]:
# key immutable (not edit), # values they can be mutable(edit)
# d = {[1,2,3]:"sam"}  3 not run key in takeing number not run
d = {"name":"mahabhart", "name": "ramayan"}  # not duble key show only first key show
d

{'name': 'ramayan'}

In [ ]:
dd = {"name":"sunny", "country":"USA", "ratting":{"aa":78, "bb":76, "cc":55}}
dd

{'name': 'sunny', 'country': 'USA', 'ratting': {'aa': 78, 'bb': 76, 'cc': 55}}

In [ ]:
# access iterms from a dict
cc= {"sachin":10,"dhoni":7,"kohali":18}
cc  # cc[0]  not indexing

{'sachin': 10, 'dhoni': 7, 'kohali': 18}

In [ ]:
#  not indexing , just solution indexing
# access
cc["dhoni"]   # only value show

7

In [ ]:
# 2D dictionary in bb value, access
dd = {"name":"sunny", "country":"USA", "ratting":{"aa":78, "bb":76, "cc":55}}
dd["ratting"]["bb"]  # ratting key in other key bb in value show

76

In [ ]:
# edit is value
dd = {"name":"sunny", "country":"USA", "ratting":{"aa":78, "bb":76, "cc":55}}
dd["name"]= "deoal"  # value change
dd   # dd.get(name) not use reasion not work 2D,3D.

{'name': 'deoal', 'country': 'USA', 'ratting': {'aa': 78, 'bb': 76, 'cc': 55}}

In [ ]:
dd["ratting"]["bb"]=100
dd

{'name': 'deoal', 'country': 'USA', 'ratting': {'aa': 78, 'bb': 100, 'cc': 55}}

In [ ]:
# new key & value add
aa= {"sachin":10,"dhoni":7,"kohali":18}
aa["rohit"]= 45
aa

{'sachin': 10, 'dhoni': 7, 'kohali': 18, 'rohit': 45}

In [ ]:
dd = {"name":"sunny", "country":"USA", "ratting":{"aa":78, "bb":76, "cc":55}}
dd["ratting"]["dd"]=36  # 2D in add new key and value
dd

{'name': 'sunny',
 'country': 'USA',
 'ratting': {'aa': 78, 'bb': 76, 'cc': 55, 'dd': 36}}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [ ]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merge dict2 into dict1
dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [ ]:
# delete
#del dd  # total dd is delete

In [ ]:
# specific key delete
aa= {"sachin":10,"dhoni":7,"kohali":18}
del aa["dhoni"]
aa

{'sachin': 10, 'kohali': 18}

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [ ]:
# clear
aa.clear()
aa   # eamy dictionary

{}

In [ ]:
# oprection , not concadition (+,-,*,/ not work)

In [ ]:
for i in dd:
    print(i)   # only key show

name
country
ratting

In [ ]:
for i in dd:
    print(i,dd[i])   # both key & value show

name sunny
country USA
ratting {'aa': 78, 'bb': 76, 'cc': 55, 'dd': 36}

In [ ]:
"USA" in dd  # membership in but key check assume

False

In [ ]:
"country" in dd

True

In [ ]:
# function
len(dd)

3

In [ ]:
min(dd)

'country'

In [ ]:
max(dd)

'ratting'

In [ ]:
sorted(dd)

['country', 'name', 'ratting']

In [ ]:
sorted(dd, reverse =True)

['ratting', 'name', 'country']

In [ ]:
dd.keys()  # show the list of key

dict_keys(['name', 'country', 'ratting'])

In [ ]:
dd.values()  #show list of values

dict_values(['sunny', 'USA', {'aa': 78, 'bb': 76, 'cc': 55, 'dd': 36}])

# Function

In [ ]:
# abtraction
# decomposition

In [ ]:
# components of a function
# def is_even(i):
# def = defind, #is_even = valid identifier,not use spectioal character.
# (I) = argument,  # : (colom)
# function in body work  x=i % 2 == 0
# return X ( all body in x)
# is_even(7) = call the function, function provide input ,to run function  otherwise not run

In [150]:
def wish():
    print("hello good morning")
wish()

hello good morning

In [151]:
def wish(name):
    print("hello",name,"good morning sir")
wish("durva")
wish("ravi")

hello durva good morning sir
hello ravi good morning sir

In [155]:
def squarelt(number):
    print("the square of", number, "is", number * number)

squarelt(4)
squarelt(50)

the square of 4 is 16
the square of 50 is 2500

# return statement = function can take input as parameters and executes business logic, and returns output to the caller with return statement.

In [158]:
def add(x,y):
    return x+y
result  = add (10,20)
print ("the sum is", result)
print ("the sum is", add(100,200))

the sum is 30
the sum is 300

In [159]:
def is_even(num):  # this parameter function
    """ finding the odd and even number"""
    if num % 2 == 0:
        return "even"
    else:
        return "odd"
is_even(100)

'even'

In [144]:
def is_even(num):  # this parameter function
    """ finding the odd and even number"""
    if num % 2 == 0:
        return "even"
    else:
        return "odd"


for i in range(1,11):
        print(is_even(i))


     # doccumucation
print(is_even.__doc__)
print.__doc__    # only print doc
type.__doc__

odd
even
odd
even
odd
even
odd
even
odd
even
 finding the odd and even number

"type(object) -> the object's type\ntype(name, bases, dict, **kwds) -> a new type"

In [ ]:
num = int(input("enter the number"))
def abc(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"
print(abc(num))

TypeError: 'tuple' object is not callable

In [163]:
def calc(a,b):
    sum = a+b
    sub = a-b
    div = a/b
    mul = a*b
    return sum,sub,div,mul
calc(100,30)

(130, 70, 3.3333333333333335, 3000)

In [166]:
def wish(name, msg):
    print("hello", name, msg)
wish(name = "sagar", msg ="abhang")

hello sagar abhang

In [169]:
# Default Arguments

def wish(name="guest"):
    print("hello", name, "good morning")
wish("sagar")
wish()

hello sagar good morning
hello guest good morning

In [ ]:
def sum(*n):

SyntaxError: expected '(' (3563525967.py, line 1)

In [ ]:
# any function use any other filr in to call
import random
import func_demo  # func_defo - its file name
func_demo.is_even(34)  # this argument function

ModuleNotFoundError: No module named 'func_demo'

In [ ]:
# PARAMETER Vs ARGUMENTS
# 1 default arguments
# 2 positional arguments
# 3 keyword arguments
# 4 arbitarary arguments

def search(database = "fb-main", table = "user")

In [145]:
def power(a,b):
    return a**b
print(power(5,5))  # this argument function

3125

In [148]:
a = int(input("enter the number   "))
b = int(input("enter the number   "))
def power(a,b): # positional argument
    return a**b
print(power(a,b))

TypeError: 'tuple' object is not callable

In [149]:
a = int(input("enter the number"))
b = int(input("enter the number"))

def bbb(b=31,a = 4):  # keypoint argument
    return b**a
print(bbb(b,a))

TypeError: 'tuple' object is not callable

In [ ]:
def flexi(* number):
    product = 1
    for i in number:
        product = product*i
    print(product)
print(flexi(1))
print(flexi(1,2))
print(flexi(1,2,3,4))
print(flexi(1,100,200,300))

1
None
2
None
24
None
6000000
None

In [ ]:
# local varible
def f(y):
    x = 1
    x += 1
    print(x)
x = 5
f(x)
print(x)

2
5

In [ ]:
# globale varible try to print
def g(y):
    print(x)
    print(x+1)
x =5
g(x)
print(x)

5
6
5

In [ ]:
def h(y):
    global x
    x += 1
x =5
h(x)
print (x)

6

In [ ]:
 # nexted function
def f():
    print("inside f")
    def g():
        print("inside g")
    g()
f()

inside f
inside g

In [ ]:
# everything in python an object
# ie function
def f(num):
    return num ** 2
print(f(4))

16

In [ ]:
x=f
print(x(8))

64

In [ ]:
# function is datatype behevior
# del function
type(x)

function

In [ ]:
# list in function
list=[1,2,3,4,5,6,7,8,9,x]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, <function __main__.f(num)>]

In [ ]:
# use function
list[-1](12)

144

# Recursion

In [ ]:
# iterative vs recurrsion
def multiple(a,b):
    result = 0
    for i in range(b):
        result = result + a
    print(result)
multiple(3,3)

9

In [ ]:
def mul(a,b):
    if b==1:
        return a
    else:
        return a+mul(a,b-1)
print(mul(5,6))

30

In [ ]:
# factorel
def fac(num):
    if num==1:
        return 1
    else:   # 5! = 5*4!
        return num*fac(num-1)
print(fac(5))

120

In [ ]:
# palindrome  , first and last character same
def palin(text):
    if len(text) <= 1:
        print("palindrome")
    else:
        if text[0] == text[-1]:
            return palin(text[1:-1])
        else:
            print("not a palin")
palin("mdam")
palin("pradeep")
palin("class")

not a palin
not a palin
not a palin

In [ ]:
def palin(text):
    if len(text) <= 1:
        return True
    else:
        if text[0] == text[-1]:
            return palin(text[1:-1])
        else:
            return False

text = "maddam"
if palin(text):
    print(f'"{text}" is a palindrome.')
else:
    print(f'"{text}" is not a palindrome.')

"maddam" is a palindrome.

In [ ]:
 # problem, two line one 1,2,3,4
    # second line 0,1,2,3
def fib(mm):
    if mm==0 or mm==1:
        return 1
    else:
        return fib(mm-1) + fib(mm-2)
print(fib(24))

75025

# Lambda dunction

In [ ]:
# Lambda Function
# lambda has no return value
# lambda is retuen function
# lambda is create one line code
# not used for code reusability
# labda is no name
# why use ? alog with higher order function , higher order help to one other input
x = lambda x: x**2
x(9)

81

In [ ]:
a = lambda x,y: x+y
a(4,6)

10

In [ ]:
type(a)

function

In [ ]:
# check  first latter a
b = lambda x: x[0] == "a"
b("apple")

True

In [ ]:
b("cat")

False

In [ ]:
# check even
b = lambda x :"even" if x % 2 ==0 else "odd"
b(4)

'even'

In [ ]:
# higher prder function in lambda
def return_sum(fun,l):
    result = 0
    for i in l:
        if fun(i):
            result = result+i
    return result
l= [11,14,15,16,17,18,19]
x = lambda x: x%2
y = lambda x: x%2 != 0
z = lambda x: x%3 == 0

print(return_sum(x,l))
print(return_sum(y,l))
print(return_sum(z,l))

62
62
33

# map
# filter
# reduce

In [ ]:
# map  # lamnbda function in each character duble
# map means each element work, ie each element double
list_ = [1,2,3,4,5,6,7,8,9,10]
list_

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
map(lambda x: x*2,list_)
# not show

In [ ]:
doubled_list = set(map(lambda x: x*2, list_))
doubled_list
 # set is use output show in set data type through show

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [ ]:
# check the true false is even and odd number
tuple(map(lambda x: x % 2==0, list_))

(False, True, False, True, False, True, False, True, False, True)

In [ ]:
# filter ,applying condiction ex. a>b
# filter means filter in the each condition
l = (1,2,3,4,5,6,7,8,9,10)
tuple(filter(lambda x: x>6,l))

(7, 8, 9, 10)

In [ ]:
# reduce
# list in reduce list mean all sum
import functools
ll = [1,2,3,4,5,6,7,8,9,10]
aa=functools.reduce(lambda x,y: x+y,ll)
aa

55

In [ ]:
ll

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
functools.reduce(lambda x,y: x if x<y else y, ll)

1

In [ ]:
# lambdaa function in
# list comprehension
ll

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1 =[item * 2 for item in ll]
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
l2 =[i**2 for i in range(10)]
l2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
try:
import logging

logging.basicConfig(level=logging.ERROR)

    x = 1 / 0
except Exception as e:
    logging.error("Exception occurred", exc_info=True)

IndentationError: expected an indented block after 'try' statement on line 1 (3182653488.py, line 2)

In [ ]:
l2 =[i**2 for i in range(10) if i % 2 != 0]
l2

[1, 9, 25, 49, 81]

In [ ]:
# Dictionary comprehension
# list to convert dictionary value is square
ll=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dist = {item:item**2 for item in ll}  # list in all chara
dist

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
# list to convert dictionary value is square
ll=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dist = {item:item**2 for item in ll if item % 2==0}  # list in all chara
dist

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

# type of error
# a syntaxerror
# b typeerror
# c  nameerror
# d indexerror
# e keyerror
# f valuerror
# e filenotfounderror / modulenotFOUNDERROR
# g attributeerror
# m memoryerror

# Decorators function = decorators is function can take a function as argument and extend its functionality and returns modified function with extended functionality

# its function thats anather function as  argument and return a function

In [8]:
# nested function 
def outer(x):
    def inner(y):
        return x + y
    return inner

add_five = outer(5)
result = add_five(6)
print(result)  # prints 11

# Output: 11

11

In [9]:
# pass function are arguments
def add(x, y):
    return x + y

def calculate(func, x, y):
    return func(x, y)

result = calculate(add, 4, 6)
print(result)  # prints 10

10

In [10]:
# python decorder functipon
def make_pretty(func):
    def inner():
        print("I got decorated")
        func()
    return inner


def ordinary():
    print("I am ordinary")

# Output: I am ordinary

In [11]:
def make_pretty(func):
    # define the inner function 
    def inner():
        # add some additional behavior to decorated function
        print("I got decorated")

        # call original function
        func()
    # return the inner function
    return inner

# define ordinary function
def ordinary():
    print("I am ordinary")
    
# decorate the ordinary function
decorated_func = make_pretty(ordinary)

# call the decorated function
decorated_func()

I got decorated
I am ordinary

In [12]:
def make_pretty(func):

    def inner():
        print("I got decorated")
        func()
    return inner

@make_pretty
def ordinary():
    print("I am ordinary")

ordinary()

I got decorated
I am ordinary

In [13]:
def smart_divide(func):
    def inner(a, b):
        print("I am going to divide", a, "and", b)
        if b == 0:
            print("Whoops! cannot divide")
            return

        return func(a, b)
    return inner

@smart_divide
def divide(a, b):
    print(a/b)

divide(2,5)

divide(2,0)

I am going to divide 2 and 5
0.4
I am going to divide 2 and 0
Whoops! cannot divide

In [14]:
def decoder(func):
    def inner(name):
        if name =="sagar":
            print("hello sagar how are you")
        else:
            func("name")
    return inner

@decoder
def wish(name):
    print("hello good night")

wish("sagar")
wish("ram")

hello sagar how are you
hello good night

In [22]:
def greet(fx):
    def mfx(*args, **kwargs):  # any argumrnt by use *args, **kwargs
        print("good morning")
        fx(*args, **kwargs)
        print("thanku for using this function")
    return mfx

@greet
def hello():
    print("hello would")

@greet
def add(a,b):
    print(a+b)

hello()
add(1,2)

good morning
hello would
thanku for using this function
good morning
3
thanku for using this function

# generators = generator is a function which is responsible to generate a sequnce of value.

# we can write generator function just like ordinary function, but it uses yield keyword to return values.

In [ ]:
def my_genrator():
    for i in range (10):
        yield i    # yield i at time one one iterator
gen = my_genrator()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3
4
5
6
7

In [21]:
for j in gen:
    print(j)

8
9

# try exception

In [23]:
try:
    x = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

In [24]:
try:
    a = int("hello")
    b = 10 / 0
except ValueError:
    print("ValueError: Invalid conversion")
except ZeroDivisionError:
    print("ZeroDivisionError: Division by zero")

ValueError: Invalid conversion

In [25]:
try:
    print(undefined_variable)
except Exception as e:
    print("An error occurred:", e)

An error occurred: name 'undefined_variable' is not defined

In [26]:
try:
    result = 10 / 2
except ZeroDivisionError:
    print("Division by zero")
else:
    print("No errors, result is:", result)
finally:
    print("This will always execute")

No errors, result is: 5.0
This will always execute

In [27]:
while True:
    try:
        num = int(input("Enter an integer: "))
        break
    except ValueError:
        print("That's not an integer. Try again.")

In [28]:
try:
    age = int(input("Enter your age: "))
    if age < 0:
        raise ValueError("Age cannot be negative")
except ValueError as e:
    print("Error:", e)

In [29]:
class CustomError(Exception):
    pass

try:
    raise CustomError("Something went wrong!")
except CustomError as ce:
    print("Caught custom error:", ce)

Caught custom error: Something went wrong!

In [30]:
try:
    try:
        result = 10 / 0
    except ZeroDivisionError:
        print("Handled in inner block")
        raise  # Re-raises the exception to outer block
except ZeroDivisionError:
    print("Handled in outer block")

Handled in inner block
Handled in outer block

In [31]:
from contextlib import contextmanager

@contextmanager
def managed_resource():
    try:
        print("Acquiring resource")
        yield
    finally:
        print("Releasing resource")

try:
    with managed_resource():
        print("Using resource")
        1 / 0
except ZeroDivisionError:
    print("Caught ZeroDivisionError inside context")

Acquiring resource
Using resource
Releasing resource
Caught ZeroDivisionError inside context

# OOPs : object oriented programming

In [ ]:
# inheritance
# oops in create personal dtabase
# oops -  object orient program
# class
# object
# polymorphism
# encapsulation
# abstraction

# class = 
 In Python every thing is an object. To create objects we required some Model or Plan or Blue 
print, which is nothing but class.
 We can write a class to represent properties (attributes) and actions (behaviour) of object.
 Properties can be represented by variables
 Actions can be represented by Methods.
 Hence class contains both variables and methods.

# Basic Class and Object
 problrem create car class with attributes (variables) like brand and model.then create an instance (fill up fom) of this class

# inheritance

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model
    
    def full_name(self):  # class method and self (create finallity)
        return f"{self.brand} {self.model}"

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size     

my_car = Car("Toyota", "Corolla")  # object
print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedl s", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())

Toyota
Corolla
Toyota Corolla
safari
moedl s
tesla moedl s

# Encapsulation

# # problem the car classes to encapsulation the beand attribute. making it private and provide a getter mettod for it

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # --brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.model}"

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size     

my_car = Car("Toyota", "Corolla")
#print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedls", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())


print(my_new_car.get_brand())
print(tesla_car.get_brand())

Corolla
Toyota Corolla
safari
moedl s
tesla moedl s
tata!
tesla!

In [ ]:
# function vs method
# function = it out side , each data type use, ie  df.append("man")
# method -  basically specic function inside clall method
# len(list), len means function
# AA = len(list),  AA = Object
# print()

# Polymorphism = same class but in different behaviour
problem- demonstate polymiphism by defining method fuel_type in both car and electricalcar zlasses, but with different behaviour

In [18]:
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # --brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.model}"
    
# polymiphism
    def fuel_type(self):
        return "Petrol or Disel" 

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size   
    
# polymiphism
    def fuel_type(self):
        return "Electric Charge"  

my_car = Car("Toyota", "Corolla")
#print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedl s", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())
print(tesla_car.get_brand())
print(tesla_car.fuel_type())



print(my_new_car.get_brand())
print(my_new_car.fuel_type())

Corolla
Toyota Corolla
safari
moedl s
tesla moedl s
tesla!
Electric Charge
tata!
Petrol or Disel

# class variable
 proble - add a varible to car that keeps track of the number of cars created

In [19]:
class Car:
    total_car = 0
    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model
        Car.total_car += 1

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # --brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.model}"
    
# polymiphism
    def fuel_type(self):
        return "Petrol or Disel" 

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size   
    
# polymiphism
    def fuel_type(self):
        return "Electric Charge"  

my_car = Car("Toyota", "Corolla")
#print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedl s", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())
print(tesla_car.get_brand())
print(tesla_car.fuel_type())



print(my_new_car.get_brand())
print(my_new_car.fuel_type())

print(Car.total_car)

Corolla
Toyota Corolla
safari
moedl s
tesla moedl s
tesla!
Electric Charge
tata!
Petrol or Disel
3

# static method =
problem = Add a ststic method to the car class that return a general description of a car

In [ ]:
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.model = model

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # --brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.model}"
    
# polymiphism
    def fuel_type(self):
        return "Petrol or Disel" 

 # static method not access object, so direct class throgh static fuction run 
    @staticmethod
    def general_description():  # decorator use that not use self
        return"car are means of transport"

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size   
    
# polymiphism
    def fuel_type(self):
        return "Electric Charge"  

my_car = Car("Toyota", "Corolla")
#print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedl s", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())
print(tesla_car.get_brand())
print(tesla_car.fuel_type())



print(my_new_car.get_brand())
print(my_new_car.fuel_type())

print(Car.general_description())

Corolla
Toyota Corolla
safari
moedl s
tesla moedl s
tesla!
Electric Charge
tata!
Petrol or Disel
car are means of transport

# Property Decorator 
problem = use a property decorator in the car class make attribute read only

In [2]:
# do not access object but obejct throgh user only read = use method argument convert private
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # --brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.__model}"
    
# polymiphism  # at time class in work different bihavihour
    def fuel_type(self):
        return "Petrol or Disel" 
    
    @staticmethod
    def general_description():  # decorator use that not use self
        return"car are means of transport"
    
    @property    # not access argumrnt but read only not change
    def model(self):
        return self.__model
    
    # create method by not access object but object through only read
    def model(self): 
        return self.__model

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size   
    
# polymiphism
    def fuel_type(self):
        return "Electric Charge"  

my_car = Car("Toyota", "Corolla")
my_car.model = "city"  # Property Decorator 
Car ("Tata", "Nexon")
#print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedl s", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())
print(tesla_car.get_brand())
print(tesla_car.fuel_type())



print(my_new_car.get_brand())
print(my_new_car.fuel_type())

print(my_car.model) #

city
Toyota Corolla
<bound method Car.model of <__main__.Car object at 0x000002947A5D8750>>
<bound method Car.model of <__main__.ElectriCar object at 0x000002947A5D8CD0>>
tesla moedl s
tesla!
Electric Charge
tata!
Petrol or Disel
city

# class inheritance and isinstance function

problem- demonsate the use of isinstance () to check if my tesla is an instance of car and electrical car

In [1]:

# do not access object but obejct throgh user only read = use method argument convert private
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # __brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.__model}"
    
# polymiphism  # at time class in work different bihavihour
    def fuel_type(self):
        return "Petrol or Disel" 
    
    @staticmethod
    def general_description():  # decorator use that not use self
        return"car are means of transport"
    
    @property    # not access argumrnt but read only not change
    def model(self):
        return self.__model
    
    # create method by not access object but object through only read
    def model(self): 
        return self.__model

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size   
    
# polymiphism
    def fuel_type(self):
        return "Electric Charge"  

my_car = Car("Toyota", "Corolla")
my_car.model = "city"  # Property Decorator 
Car ("Tata", "Nexon")
#print(my_car.brand)
print(my_car.model)
print(my_car.full_name())

my_new_car = Car("tata", "safari")
print(my_new_car. model)

tesla_car = ElectriCar("tesla", "moedl s", "5443kwh")
print(tesla_car.model)
print(tesla_car.full_name())
print(tesla_car.get_brand())
print(tesla_car.fuel_type())



print(my_new_car.get_brand())
print(my_new_car.fuel_type())

### class uper in current class in use
print(isinstance(tesla_car,Car))
print(isinstance(tesla_car,ElectriCar))

city
Toyota Corolla
<bound method Car.model of <__main__.Car object at 0x0000017CC8020310>>
<bound method Car.model of <__main__.ElectriCar object at 0x0000017CC8023590>>
tesla moedl s
tesla!
Electric Charge
tata!
Petrol or Disel
True
True

In [ ]:

# do not access object but obejct throgh user only read = use method argument convert private
class Car:
    def __init__(self, brand, model):
        self.__brand = brand
        self.__model = model

# encapsulation
    def get_brand(self):  # get = getter method # setter
        return self.__brand +"!" # --brand = means private attribute
     
    def full_name(self):  # class method and self (create finallity)
        return f"{self.__brand} {self.__model}"
    
# polymiphism  # at time class in work different bihavihour
    def fuel_type(self):
        return "Petrol or Disel" 
    
    @staticmethod
    def general_description():  # decorator use that not use self
        return"car are means of transport"
    
    @property    # not access argumrnt but read only not change
    def model(self):
        return self.__model
    
    # create method by not access object but object through only read
    def model(self): 
        return self.__model

#inhererance
class ElectriCar(Car):
    def __init__(self, brand,model,battery_size): 
        super().__init__(brand, model)  # super(uper class access in current class)
        self.battery_size = battery_size   
    
# polymiphism
    def fuel_type(self):
        return "Electric Charge"  
# multiple injirentance
class Battery:
    def battery_info(self):
       return "this is battery"

class Engine:
    def engine_info(self):
       return "this is engine"

class ElwctriCarTwo(Battery, Engine, Car):
    pass
my_new_tesa = ElwctriCarTwo ("tesla", "models")

print(my_new_tesa.engine_info())
print(my_new_tesa.battery_info())

this is engine
this is battery

In [ ]:
# class
# data type means class , varible in class means object
# class 1] data or property   2] function or behavior
# class name is shuld be in pascal case
# ie joind words ThiIsPascalCase - each first chara capital
# ie joind words thisisPascalCase - frist char small other  first big letter
# def name is small letter

In [ ]:
# genral basic structure
class Car:
    color = "blue" # data
    model = "sport" # data
    def calculate_avg_speed(km,time):
        # some code

SyntaxError: incomplete input (66201536.py, line 6)

In [ ]:
# object
# object is an instance of the class
# 1] Car............>wagorR // wagnor= Car()
                               # object = wagnor,   class =Car()

In [ ]:
class Atm:
        def __init__(self):  # __init__ = constructor is specal method its internal code automatic exicute
            self.balance = 0  # programe run time create varible
            self.menu()
        def menu(self):
            user_input = input("""
            hello how would you like to proceed?
            1. enter 1 to create pin
            2. enter 2 to deposit
            3. enter 3 to withdraw
            4. enter 4 to check balance
            5. enter 5 to exit """)
            if user_input =="1":
                self.create pin()
            elif user_input =="2":
                print("deposit")
            elif user_input =="3":
                print("withdraw")
            elif user_input =="4":
                print("check balance")
            elif user_input =="5":
                print("exit")
            else:
                print("plz enter the key")
                
            def create
print(Atm())

           hello how would you like to proceed?
           1. enter 1 to create pin
           2. enter 2 to deposit
           3. enter 3 to withdraw
           4. enter 4 to check balance
           5. enter 5 to exit 4
check balance
<__main__.Atm object at 0x0000022610078990>

In [2]:
# 
import pandas as pd

In [3]:
# (a) Series (1D data)
import pandas as pd

s = pd.Series([10, 20, 30, 40], index=["a", "b", "c", "d"])
print(s)

a    10
b    20
c    30
d    40
dtype: int64

In [4]:
# (b) DataFrame (2D table)
data = {
    "Name": ["Sagar", "Amit", "Riya"],
    "Age": [25, 28, 22],
    "City": ["Pune", "Mumbai", "Delhi"]
}
df = pd.DataFrame(data)
print(df)

    Name  Age    City
0  Sagar   25    Pune
1   Amit   28  Mumbai
2   Riya   22   Delhi

In [1]:
# basic oprection
print(df.head())   # first 5 rows
print(df.tail())   # last 5 rows
print(df.shape)    # (rows, cols)
print(df.info())   # datatypes, null values
print(df.describe())  # statistics

NameError: name 'df' is not defined

In [2]:
# 4. Indexing & Selection
print(df["Name"])        # column
print(df[["Name","City"]])  # multiple columns
print(df.iloc[1])        # row by index
print(df.loc[1])         # row by label
print(df.loc[0,"City"])  # Pune

NameError: name 'df' is not defined

In [3]:
# Filtering Data
print(df[df["Age"] > 23])          # condition
print(df[(df["Age"] > 23) & (df["City"]=="Mumbai")])

NameError: name 'df' is not defined

In [12]:
# Adding / Updating Columns
df["Salary"] = [50000, 60000, 55000]   # new column
df["Age"] = df["Age"] + 1              # update column

In [14]:
# andling Missing Data
df = pd.DataFrame({
    "A": [1, 2, None],
    "B": [4, None, 6]
})

print(df.isnull())      # check null
print(df.dropna())      # drop rows with null
print(df.fillna(0))     # replace null with 0
print(df.fillna(df.mean(numeric_only=True)))  # fill with mean

       A      B
0  False  False
1  False   True
2   True  False
     A    B
0  1.0  4.0
     A    B
0  1.0  4.0
1  2.0  0.0
2  0.0  6.0
     A    B
0  1.0  4.0
1  2.0  5.0
2  1.5  6.0

In [8]:
# GroupBy & Aggregations
data = {
    "Department": ["IT","IT","HR","HR"],
    "Salary": [50000, 60000, 40000, 45000]
}
df = pd.DataFrame(data)

print(df.groupby("Department")["Salary"].mean())

Department
HR    42500.0
IT    55000.0
Name: Salary, dtype: float64

In [9]:
# Sorting
print(df.sort_values(by="Salary", ascending=False))

  Department  Salary
1         IT   60000
0         IT   50000
3         HR   45000
2         HR   40000

In [10]:
# Merging & Joining
df1 = pd.DataFrame({"ID":[1,2], "Name":["Sagar","Amit"]})
df2 = pd.DataFrame({"ID":[1,2], "Salary":[50000,60000]})

merged = pd.merge(df1, df2, on="ID")
print(merged)

   ID   Name  Salary
0   1  Sagar   50000
1   2   Amit   60000

In [11]:
# Pivot Tables
data = {
    "Dept": ["IT","IT","HR","HR"],
    "Gender": ["M","F","M","F"],
    "Salary": [60000, 55000, 40000, 42000]
}
df = pd.DataFrame(data)

print(pd.pivot_table(df, values="Salary", index="Dept", columns="Gender", aggfunc="mean"))

Gender        F        M
Dept
HR      42000.0  40000.0
IT      55000.0  60000.0

In [23]:
# Apply & Lambda
df["Bonus"] = df["Salary"].apply(lambda x: x * 0.1)